<div class="container">

	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit">
		<h1>Hello, world!</h1>
		<p>
		    Congrats, you just logged in.
		    Enjoy the restricted resources you now have access to.
		    "user" can only see a list of fruits while "admin" can see the fruits AND the list of users.
		</p>
	</div>
	
	<div class="row">
    	<div id="fruits" class="span6"></div>
    	<div id="users" class="span6"></div>
	</div>

	<hr>

	<footer>
		<p>© Jolicode 2013</p>
	</footer>

</div>